@import url('./jetcredit_fonts.css');

/* calculator panel */
.jet_panel * {
	font-family: "Roboto Condensed", sans-serif !important;
}

.jet_panel {
	display: flex;
	flex-direction: column !important;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
	border-radius: 3px !important;
	background-color: #ffffff !important;
	padding: 0px !important;
	border: 1px solid #16a34a !important;
	box-shadow: 2px 2px 10px #6ee7b7 !important;
	margin-top: 5px !important;
}

.jet_panel>span {
	padding: 10px !important;
	color: red;
}

.jet_row {
	display: flex !important;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
	width: 100% !important;
	padding: 0px 5px !important;
}

.jet_row:first-child {
	margin-top: 5px !important;
}

.jet_column_left {
	display: flex !important;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
	flex: 1 !important;
	align-items: center !important;
	height: 38px !important;
	font-size: 12pt !important;
	font-weight: 500 !important;
	line-height: 14px !important;
	background-color: transparent !important;
	color: #052e16 !important;
}

.jetm_column_left {
	display: flex !important;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
	flex: 1 !important;
	align-items: center !important;
	height: 38px !important;
	font-size: 10pt !important;
	font-weight: 500 !important;
	line-height: 12px !important;
	background-color: transparent !important;
	color: #052e16 !important;
}

.jet_column_right {
	display: flex !important;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
	flex: 1 !important;
	align-items: center !important;
	justify-content: right !important;
	height: 38px !important;
}

.jetm_column_right {
	display: flex !important;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
	flex: 1 !important;
	flex-wrap: wrap !important;
	align-items: center !important;
	justify-content: right !important;
	gap: 5px !important;
}

input[type="text"].jet_input_text_active,
input[type="number"].jet_input_text_active {
	flex: 1 !important;
	width: 120px;
	font-weight: 600 !important;
	font-size: 14px !important;
	line-height: 16px !important;
	text-align: right;
	color: #14532d;
	border: 1px solid #15803d;
	background-color: white !important;
	margin: 0px !important;
	padding: 3px !important;
	height: 32px !important;
	-webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3) !important;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3) !important;
	border-radius: 3px !important;
}

input[type="text"].jet_input_text_active:active,
input[type="number"].jet_input_text_active:active,
input[type="text"].jet_input_text_active:focus,
input[type="number"].jet_input_text_active:focus {
	flex: 1 !important;
	width: 120px;
	font-weight: 600 !important;
	font-size: 14px !important;
	line-height: 16px !important;
	text-align: right;
	color: #14532d;
	border: 1px solid #15803d;
	background-color: white !important;
	margin: 0px !important;
	padding: 3px !important;
	height: 32px !important;
	-webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3) !important;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3) !important;
	border-radius: 3px !important;
	outline: none !important;
}

input[type="text"].jet_input_text_active.jet_left,
input[type="number"].jet_input_text_active.jet_left {
	text-align: left;
}

input[type="text"].jet_input_text_active.error,
input[type="number"].jet_input_text_active.error {
	border: 1px solid #ED1C24;
	color: #ED1C24;
}

.jet_button_preizcisli {
	height: 32px !important;
	background-color: #166534 !important;
	border-radius: 3px !important;
	border: 0px none white !important;
	text-align: center !important;
	font-weight: 500 !important;
	font-size: 14px !important;
	line-height: 16px !important;
	padding: 0px 5px !important;
	margin-left: 3px !important;
	color: #f0fdf4 !important;
	cursor: pointer !important;
	-webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4) !important;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4) !important;
	user-select: none !important;
	-moz-user-select: none !important;
	-khtml-user-select: none !important;
	-webkit-user-select: none !important;
	-o-user-select: none !important;
}

.jet_button_preizcisli:hover {
	background-color: #14532d !important;
	color: #f0fdf4 !important;
}

.jet_input_text {
	display: flex !important;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
	align-items: center !important;
	justify-content: end !important;
	flex: 1 !important;
	border: 1px solid #15803d !important;
	background-color: white !important;
	margin: 0px !important;
	padding: 0px 5px !important;
	height: 32px !important;
	-webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3) !important;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3) !important;
	border-radius: 3px !important;
}

.jet_input_text.jet_disable {
	background-color: #EEEEEE !important;
}

.jet_input_text>div:first-child {
	display: flex !important;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
	align-items: center !important;
	justify-content: end !important;
	user-select: none !important;
	-moz-user-select: none !important;
	-khtml-user-select: none !important;
	-webkit-user-select: none !important;
	-o-user-select: none !important;
	flex: 1 !important;
	height: 100% !important;
	font-weight: 600 !important;
	font-size: 12px !important;
	text-align: right !important;
	color: #14532d !important;
}

.jet_input_text>div:last-child {
	display: flex !important;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
	align-items: center !important;
	justify-content: start !important;
	user-select: none !important;
	-moz-user-select: none !important;
	-khtml-user-select: none !important;
	-webkit-user-select: none !important;
	-o-user-select: none !important;
	height: 100% !important;
	margin-left: 2px !important;
	font-weight: 400 !important;
	font-size: 12px !important;
	text-align: right !important;
	color: #14532d !important;
}

.jet_input_text>div:last-child>span {
	padding-right: 2px !important;
}

select.jet_input_text {
	flex: 1 !important;
	font-weight: 600 !important;
	font-size: 12px !important;
	line-height: 14px !important;
	color: #14532d !important;
	border: 1px solid #15803d !important;
	background-color: white !important;
	padding: 0px 5px !important;
	margin: 0px !important;
	height: 32px !important;
	border-radius: 3px !important;
	outline: none !important;
}

select.jet_input_text:active,
select.creditjet_input_text:focus {
	flex: 1 !important;
	font-weight: 600 !important;
	font-size: 12px !important;
	line-height: 14px !important;
	color: #14532d !important;
	border: 1px solid #15803d !important;
	background-color: white !important;
	padding: 0px 5px !important;
	margin: 0px !important;
	height: 32px !important;
	border-radius: 3px !important;
	outline: none !important;
}

.jet_hr {
	padding-top: 10px !important;
	width: 100% !important;
	border-top: 0px none white !important;
	border-left: 0px none white !important;
	border-right: 0px none white !important;
	border-bottom: 1px solid #01a66c !important;
}

.jet_row_footer {
	display: flex !important;
	flex-direction: column !important;
	flex: 1 !important;
	padding: 5px 10px !important;
}

input[type="checkbox"].jet_uslovia {
	border-radius: 0px !important;
	-ms-transform: scale(1.3) !important;
	-moz-transform: scale(1.3) !important;
	-webkit-transform: scale(1.3) !important;
	-o-transform: scale(1.3) !important;
	transform: scale(1.3) !important;
	padding: 10px !important;
	appearance: checkbox !important;
	-moz-appearance: checkbox !important;
	-webkit-appearance: checkbox !important;
	opacity: 1 !important;
}

.jet_uslovia_a {
	color: #01a66c !important;
	text-decoration: none !important;
	border: none !important;
	outline: none !important;
}

.jet_uslovia_a:visited {
	color: #01a66c !important;
	border: none !important;
	outline: none !important;
}

.jet_uslovia_a:focus {
	outline: none !important;
}