# https://github.com/WordPress/wordpress-develop/blob/trunk/.editorconfig
# Съвместимост с редактора и с общите очаквания на WordPress core/плъгини.
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.php]
indent_style = tab
indent_size = 4

[*.js]
indent_style = tab
indent_size = 4

[*.css]
indent_style = tab
indent_size = 4

[*.json]
indent_style = space
indent_size = 2
